<ul class='list-unstyled'>
	<% @followers.each do |el| %>
    <li><a href="http://twitter.com/<%= el[0] %>"><%= "<span>#{el[0]}"%></a><%=":</span> '#{el[1]}' <span>Followers: #{el[2]}</span>" %></li>
  <% end %>
</ul>
