<!DOCTYPE html>
<html>

  <head>
    <title></title>
    <link rel='stylesheet' type='text/css' href="css/interface.css">
    <meta charset='UTF-8'>
    <meta name='description' content='Makethon'>
  </head>

  <body>

    <section class="grid">

      <section class="row-3-18">
        <section class="col-3-9">
          <h1>SmartTwits</h1>
        </section>
        <section class="was-col-6-9">
          some other stuff on the header row
        </section>
      </section>

      <section class="row-15-18">
        <section class="col-3-9">
          This is where the top trends will go
        </section>
      </section>

      <section class="row-5-18">
        <section class="col-6-9">
          This is where the top words will go
        </section>
      </section>

      <section class="row-5-18">
        <section class="col-3-9">
          This is where the most retweeted go
        </section>
        <section class="col-3-9">
          This is where the links go
        </section>
      </section>

      <section class="row-5-18">
        <section class="col-3-9">
          This is where the most followed go
        </section>
        <section class="col-3-9">
          This is where the news tweets go
        </section>
      </section>

    </section>

  </body>

</html>
