<!DOCTYPE html>
<html>

  <head>
    <title></title>
    <link rel='stylesheet' type='text/css' href="css/interface.css">
    <meta name="viewport" content="width=device=width, height=device-height, initial-scale=1, user-scalable=no">
    <meta charset='UTF-8'>
    <meta name='description' content='Makethon'>
  </head>

  <body>

    <section class="grid">

      <section class="row-3-18">
        <section class="col-4-12">
          <h1>SmartTwits</h1>
        </section>
        <section class="was-col-8-12">
          <p>some other stuff on the header row</p>
        </section>
      </section>

      <section class="row-15-18">

        <section class="col-4-12">
          <p>This is where the top trends will go</p>
        </section>

        <section class="col-8-12">
          <section class="row-5-18">
            <p>This is where the top words will go</p>
          </section>

          <section class="row-5-18">
            <section class="col-4-8">
              <p>This jfkutfiu gfytftyftyif yt7fitguy is where the most retweeted go</p>
            </section>
            <section class="col-4-8">
              <p>This is where the links go</p>
            </section>
          </section>

          <section class="row-5-18">
            <section class="col-4-8">
              <p>This is where the most followed go</p>
            </section>
            <section class="col-4-8">
              <p>This is where the news tweets go</p>
            </section>
          </section>

        </section>

      </section>

    </section>

  </body>

</html>
