<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <ul>
      <% @trends_list.each do |trend| %>
        <li><a href="/trends<%= trend %>"><%= trend %></a></li>
      <% end %>
    </ul>
 
  </body>

</html>