*, *:after, *:before {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
.grid {
 width: 100%;
 height: 100%;

}
[class*='col-'] {
 float: left;
}

/*  CLEARFIX  */
/*```````````*/
.grid:after {
 content: "";
 display: table;
 clear: both;
}

/*  GUTTERS   */
/*```````````*/
[class*='col-'] {
 padding-right: 0px;
}

/*   WIDTHS   */
/*```````````*/
.col-2-8 {
 width: 25%;
}

.col-6-8 {
 width: 75%;
}

.col-3-6 {
 width: 50%;
}


/*  HEIGHTS   */
/*```````````*/

.row-3-18 {
 height: 16.66%;
 border: 2px solid white;
}

.row-5-18 {
 min-height: 13em;
 max-height: 15em;
 border: 2px solid white;
}

.row-15-18 {
  height: 83.33%;
  border: 2px solid white;
}
