@import url('normalize.css');
@import url('grid.css');

#logo {

}

.navbar-brand {
  font-size: 3em;
}

#word-cloud {
  text-align: center;
  width: 100%;
}

#word-cloud svg {
  width: 100%;
}

.nav > li {
  margin-left: -7.5%;
}
